body{
  margin: 0;
  body: 0;
}

header {
  background-color: #F5F5F5;
  margin-top: 0;
  border-bottom: solid 1px #E5E5E5;
  max-height: 55px;
  .topGit {
    width: 30px;
    margin-left: 12%;
    position: relative;
    top: -15px;
  }
  #name {
    width: 25%;
    max-height: 30px;
    margin-left: 15%;
    padding-top: 1%;
    position: relative;
    top: 15px;
  }
  .headerNav ul {
    margin-left: 38%;
    margin-top: -42px;
  }
  .headerNav li {
    display: inline-block;
    text-decoration: none;
    padding-left: 1.5%;
  }
  .socialNav li {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    img {
      width: 20px;
    }
  }
  .socialNav ul {
    margin-left: 76%;
    position: relative;
    top: -37px;
  }
}

.wrapper {
  width: 100%;
  .leftCol, .rightCol {
    display: inline-block;
  }
  .leftCol {
    width: 30%;
    ul {
      margin-bottom: none;
    }
    li {
      list-style-type: none;
    }
    .div2 {
      border-bottom: solid 1px #EEEEEE;
      margin-left: 40%;
      text-decoration: none;
      max-height: 70px;
    }

    h2 {
      font-size: 1.75em;
      margin-left: 40%;
      margin-top: -.5%;
    }
    &>  h3 {
        margin-left: 40%;
        margin-top: -5%;
        padding-bottom: 3%;
        color: #666666;
        font-weight: lighter;
        border-bottom: solid 1px #EEEEEE;
      }
    img {
      width: 15px;
      margin-left: -22%;
    }

    p {
      margin: 0;
      position: relative;
      top: -57px;
      left: 9%;
    }
    .div3 {
      margin-left: 40%;
      margin-top: -3%;
      border-bottom: solid 1px #EEEEEE;
      width: 60%;
      h1 {
        margin: 0 auto;
        font-size: 1.25em;
      }

    }
    .div3 ul {
      margin-bottom: 0;
      padding-left: 0;
    }
    .div3 li {
      display: inline-block;
      padding: 0 12%;
      font-size: 1.5em;
      color: #3D76C2;
    }
    .div3 h5 {
      display: inline;

      font-size: .1em;
      padding:0 8%;
      color: #7D7D7D;
      font-weight: lighter;
    }
    .organizations {
      width: 60%;
      margin-left: 40%;
      img {
        width: 50px;
        margin-left: 1%;
      }
    }

  }
  .rightCol {
    width: 60%;
    vertical-align: top;
    .tabsDiv {
      width: 100%;
      border-bottom: solid 1px #EEEEEE;
      height: 50px;
    }
    .tabs li {
      list-style-type: none;
      display: inline-block;
      padding: 2%;
      position: relative;
      img {
        width: 15px;
        display: inline-block;
        position: relative;
        left: -25%;
      }
      h4 {
        color: #666;
        font-weight: lighter;
        position: relative;
        top: -40px;
      }
      a {
        text-decoration: none;
        &:link, &:visited {
          color: #666;
        }
      }
    }
    button {
      position: relative;
      left: 85%;
      top: -110px;
    }
  }

}

footer {
  width: 75%;
  margin-left: 12%;
  border-top: solid 1px #EEEEEE;
  img {
    width: 25px;
    position: relative;
    left: 49%;
    bottom: 40px;
  }
  h6 {
    display: block;
    color: #767676;
    font-weight: lighter;
  }
  .copyRight {
    width:15%;
    margin-right: 0;
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    font-size: .75em;
  }
  .footerNavLeft {
    margin-left: 7%;
    margin-top: -4.25%;
    li {
      padding-right: 2%;
      color: #4078c0;
    }
  }
  .footerNavRight {
    width: 50%;
    margin-left: 64%;
    margin-top: -8.15%;
    ul {
      padding-left: 0%;
    }
    li {
      padding-left: 3%;
      color: #4078c0;
    }
  }
}
#profilePic img {
  width: 225px;
  margin-top: 5%;
  margin-left: 40%;
  border-radius: 5px;
}

.repoDiv {
  border-bottom: solid 1px #EEEEEE;
}

.repoName {
  color: #3D76C2;
  font-size: 1.25em;
  font-weight: bold;
}
.repoUpdatedAt {
   color: #888888;

}
.repoLanguage {
  color: #888888;
  font-size: .75em;
  margin-left: 85%;
}
.repoStargazers {
  color: #888888;
  font-size: .75em;
  position:relative;
  left: 95%;
  top: -18px;
}
.repoForks {
  color: #888888;
  font-size: .75em;
  position:relative;
  left: 95%;
  top: -18px;
}
