body {
  margin: 0;
  body: 0; }

header {
  background-color: #F5F5F5;
  margin-top: 0;
  border-bottom: solid 1px #E5E5E5;
  max-height: 55px; }
  header .topGit {
    width: 30px;
    margin-left: 12%;
    position: relative;
    top: -15px; }
  header #name {
    width: 25%;
    max-height: 30px;
    margin-left: 15%;
    padding-top: 1%;
    position: relative;
    top: 15px; }
  header .headerNav ul {
    margin-left: 38%;
    margin-top: -42px; }
  header .headerNav li {
    display: inline-block;
    text-decoration: none;
    padding-left: 1.5%; }
  header .socialNav li {
    display: inline-block;
    text-decoration: none;
    width: 30px; }
    header .socialNav li img {
      width: 20px; }
  header .socialNav ul {
    margin-left: 76%;
    position: relative;
    top: -37px; }

.wrapper {
  width: 100%; }
  .wrapper .leftCol, .wrapper .rightCol {
    display: inline-block; }
  .wrapper .leftCol {
    width: 30%; }
    .wrapper .leftCol ul {
      margin-bottom: none; }
    .wrapper .leftCol li {
      list-style-type: none; }
    .wrapper .leftCol .div2 {
      border-bottom: solid 1px #EEEEEE;
      margin-left: 40%;
      text-decoration: none;
      max-height: 70px; }
    .wrapper .leftCol h2 {
      font-size: 1.75em;
      margin-left: 40%;
      margin-top: -.5%; }
    .wrapper .leftCol > h3 {
      margin-left: 40%;
      margin-top: -5%;
      padding-bottom: 3%;
      color: #666666;
      font-weight: lighter;
      border-bottom: solid 1px #EEEEEE; }
    .wrapper .leftCol img {
      width: 15px;
      margin-left: -22%; }
    .wrapper .leftCol p {
      margin: 0;
      position: relative;
      top: -57px;
      left: 9%; }
    .wrapper .leftCol .div3 {
      margin-left: 40%;
      margin-top: -3%;
      border-bottom: solid 1px #EEEEEE;
      width: 60%; }
      .wrapper .leftCol .div3 h1 {
        margin: 0 auto;
        font-size: 1.25em; }
    .wrapper .leftCol .div3 ul {
      margin-bottom: 0;
      padding-left: 0; }
    .wrapper .leftCol .div3 li {
      display: inline-block;
      padding: 0 12%;
      font-size: 1.5em;
      color: #3D76C2; }
    .wrapper .leftCol .div3 h5 {
      display: inline;
      font-size: .1em;
      padding: 0 8%;
      color: #7D7D7D;
      font-weight: lighter; }
    .wrapper .leftCol .organizations {
      width: 60%;
      margin-left: 40%; }
      .wrapper .leftCol .organizations img {
        width: 50px;
        margin-left: 1%; }
  .wrapper .rightCol {
    width: 60%;
    vertical-align: top; }
    .wrapper .rightCol .tabsDiv {
      width: 100%;
      border-bottom: solid 1px #EEEEEE;
      height: 50px; }
    .wrapper .rightCol .tabs li {
      list-style-type: none;
      display: inline-block;
      padding: 2%;
      position: relative; }
      .wrapper .rightCol .tabs li img {
        width: 15px;
        display: inline-block;
        position: relative;
        left: -25%; }
      .wrapper .rightCol .tabs li h4 {
        color: #666;
        font-weight: lighter;
        position: relative;
        top: -40px; }
      .wrapper .rightCol .tabs li a {
        text-decoration: none; }
        .wrapper .rightCol .tabs li a:link, .wrapper .rightCol .tabs li a:visited {
          color: #666; }
    .wrapper .rightCol button {
      position: relative;
      left: 85%;
      top: -110px; }

footer {
  width: 75%;
  margin-left: 12%;
  border-top: solid 1px #EEEEEE; }
  footer img {
    width: 25px;
    position: relative;
    left: 49%;
    bottom: 40px; }
  footer h6 {
    display: block;
    color: #767676;
    font-weight: lighter; }
  footer .copyRight {
    width: 15%;
    margin-right: 0; }
  footer ul {
    list-style-type: none; }
  footer li {
    display: inline-block;
    font-size: .75em; }
  footer .footerNavLeft {
    margin-left: 7%;
    margin-top: -4.25%; }
    footer .footerNavLeft li {
      padding-right: 2%;
      color: #4078c0; }
  footer .footerNavRight {
    width: 50%;
    margin-left: 64%;
    margin-top: -8.15%; }
    footer .footerNavRight ul {
      padding-left: 0%; }
    footer .footerNavRight li {
      padding-left: 3%;
      color: #4078c0; }

#profilePic img {
  width: 225px;
  margin-top: 5%;
  margin-left: 40%;
  border-radius: 5px; }
